


/* Before After Container */

.rba {
   position: relative;
   max-width: 100%;
   cursor: col-resize;
   overflow: hidden;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   img{
      user-drag: none; 
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
   }
}

.rba-after {
   display: block;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
}

.rba-before {
   display: block;
   position: absolute;
   top: 0;
   /* right: 0; */
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 15;
   overflow: hidden;
}

.rba-before-inset {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
}

.rba-after img,
.rba-before img {
   object-fit: cover;
   position: absolute;
   width: 100%;
   height: 100%;
   object-position: 50% 50%;
   top: 0;
   bottom: 0;
   left: 0;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -o-user-select: none;
   user-select: none;
}

.rba-beforePosition {
   background: rgba(0,0,0,0.5);
   color: #fff;
   left: 0;
   pointer-events: none;
   border-radius: 0.2rem;
   padding: 0.3rem 0.5rem;
}

.rba-afterPosition {
   background: rgba(0,0,0,0.5);
   color: #fff;
   right: 0;
   pointer-events: none;
   border-radius: 0.2rem;
   padding: 0.3rem 0.5rem;
}

.beforeLabel {
   position: absolute;
   bottom: 0;
   margin: 1rem;
   font-size: 1em;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -o-user-select: none;
   user-select: none;
}

.afterLabel {
   position: absolute;
   bottom: 0;
   margin: 1rem;
   font-size: 1em;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -o-user-select: none;
   user-select: none;
}


/* handle and arrow */

.rba-handle {
   height: 41px;
   width: 41px;
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -20px;
   margin-top: -21px;
   // border: 2px solid #fff;
   // border-radius: 1000px;
   z-index: 20;
   pointer-events: none;
   // box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
   
}
.rba-handle_button {
   height: 2rem;
   width: 2rem;
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -1.05rem;
   margin-top: -1rem;
   border: 2px solid #fff;
   box-sizing: border-box;
   border-radius: 0.3rem;
   z-index: 20;
   pointer-events: none;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   transform: rotate(45deg);

}
.handle-left-arrow,
.handle-right-arrow {
   width: 0;
   height: 0;
   border: 6px inset transparent;
   position: absolute;
   top: 50%;
   margin-top: -6px;
}

.handle-left-arrow {
   border-right: 6px solid #fff;
   left: 50%;
   margin-left: -19px;
}

.handle-right-arrow {
   border-left: 6px solid #fff;
   right: 50%;
   margin-right: -18px;
}

.rba-handle::before {
   bottom: 50%;
   margin-bottom: 20px;
   box-shadow: 0 0 0.6rem 0 rgba(0, 0, 0, 0.5);
}

.rba-handle::after {
   top: 50%;
   margin-top: 20.5px;
   box-shadow: 0 0 0.6rem 0 rgba(0, 0, 0, 0.5);
}

.rba-handle::before,
.rba-handle::after {
   content: '';
   display: block;
   width: 2px;
   background: #fff;
   height: 9999px;
   position: absolute;
   left: calc(50% - 1px);
   margin-left: -1px;
}